/*Fonts*/
@font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Cabin'), local('Cabin-Regular'), url(https://fonts.gstatic.com/s/cabin/v14/u-4x0qWljRw-Pd8w__1ImSRu.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
@font-face {
    font-family: 'Cabin';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Cabin Italic'), local('Cabin-Italic'), url(https://fonts.gstatic.com/s/cabin/v14/u-4_0qWljRw-Pd81z_9CngZscwY.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Cabin Bold'), local('Cabin-Bold'), url(https://fonts.gstatic.com/s/cabin/v14/u-480qWljRw-PdeL2uhluylEeQ5J.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v17/mem6YaGs126MiZpBA-UFUK0Zdc1GAK6b.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhpKKSTjw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v21/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgEM86xQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v21/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_qiTXtHA_3-uE0qEEw.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v21/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgEM86xQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

#wrap {
    width: 900px;
    margin: 0 auto;
} 
  
/*Body*/
.Title { 
    font-family: Cabin, Helvetica, sans-serif;
    font-size: larger;
    margin-left: 10px;
    
}
/*Colors*/
.Colors { 
    font-family: Cabin, Helvetica, sans-serif;
    font-size: larger;
    border: 3px solid black;
    width: 900px;
    height: 400px;
}
h2 {
    margin: 10px 0 0 20px;
    
}
    
#Blue {
        color: white;
        background-color: #2d5dcc;
        box-sizing: border-box;
        height: 100px;
        width: 200px;
        text-align: center;
        margin: 10px;
        left: 10px;
        position: relative;
        padding: 30px;

        
        
    
    }
#Pink {
        background-color: #d957d9;
        box-sizing: border-box;
        height: 100px;
        width: 200px;
        text-align: center;
        margin: 10px;
        left: 230px;
        bottom: 110px;
        position: relative;
        padding: 30px;
        
        
    
    }
#Mint {
        background-color: #4fe0b0;
        box-sizing: border-box;
        height: 100px;
        width: 200px;
        text-align: center;
        margin: 10px;
        left: 450px;
        bottom: 220px;
        position: relative;
        padding: 30px;
    
    }
#Beige {
        background-color: #efd9ca;
        box-sizing: border-box;
        height: 100px;
        width: 200px;
        text-align: center;
        margin: 10px;
        left: 670px;
        bottom: 330px;
        position: relative;
        padding: 30px;
    
    }
/*Fonts*/    

.Fonts { 
    margin-top: 10px;
    width: 900px;
    height: 450px;
    border: 3px solid black;
    font-family: Cabin, Helvetica, sans-serif;
    font-size: larger;
} 
/*Cabin*/  
.Cabin {
    font-family: Cabin;
    position: relative;
    left: 20px;

}

#Cabin-Standard {
    font-family: Cabin;
    position: relative;
    left: 20px;

}
#Cabin-Italicized {
    font-family: Cabin;
    font-style: italic;
    position: relative;
    left: 20px;

}
#Cabin-Bold {
    font-family: Cabin;
    font-weight: bold;
    position: relative;
    left: 20px;

}

/*Open Sans*/

.Open-Sans {
    font-family: "Open Sans";
    position: relative;
    left: 20px;

}

#Open-Sans-Standard {
    font-family: "Open Sans";
    position: relative;
    left: 20px;

}
#Open-Sans-Italicized {
    font-family: "Open Sans";
    font-style: italic;
    position: relative;
    left: 20px;

}
#Open-Sans-Bold {
    font-family: "Open Sans";
    font-weight: bold;
    position: relative;
    left: 20px;

}

/*Playfair Display*/

.Playfair-Display {
    font-family: "Playfair-Display";
    position: relative;
    left: 460px;
    bottom: 370px;
}

#Playfair-Display-Standard {
    font-family: "Playfair-Display";
    position: relative;
    left: 460px;
    bottom: 370px;

}
#Playfair-Display-Italicized {
    font-family: "Playfair-Display";
    font-style: italic;
    position: relative;
    left: 460px;
    bottom: 370px;

}
#Playfair-Display-Bold {
    font-family: "Playfair-Display";
    font-weight: bold;
    position: relative;
    left: 460px;
    bottom: 370px;

}


/*Text Styles*/

.Text-Styles { 
    Height:500px;
    Width: 900px;
    margin-top: 10px;
    border: 3px solid black;
    font-family: Cabin, Helvetica, sans-serif;
    font-size: larger;
    
}
.Main-Text-Style {
    position: relative;
    left: 20px;
}

.Subheading-Style {
    position: relative;
}

.Paragraph-Style {
    position: relative;
    left: 20px;
}

li {
    font-size: 16px;
}



